.main__userform
{
    height: 80%;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}
.heading
{
    margin-top: 2rem;
    font-size: 2.5rem;
    color: #474444;
}
.form__container
{
    margin-top: 2rem;
    /* background-color: red; */
    width: 80%;
}
.input__container
{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}
.input__container input
{
    height: 1.8rem;
    padding: 0.4rem;
    width: 60%;
    margin-left: 1rem;
    background-color: #F4F4F4;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.submit__button
{
    background-color: #A9BCFF;
    color: #474444;
    border: none;
    height: 2rem;
    width: 10rem;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 1rem;
    font-weight: 540;
    font-size: 1.4rem;
}